<html id=attente>
<head>
  <title>Patientez</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="https://fonts.googleapis.com/css?family=Anaheim|Roboto" rel="stylesheet">

  <!-- Feuille de style -->
  <link type="text/css" href="css/style.css" rel="stylesheet" />
</head>
<body>
  <header>
    <a href="/" class="titre"><img class="logo" src="/img/logobleu.png" alt="logo du site" /></a>
  </header>
  <div class="">
    <img src="/img/chargement.png" alt="image de chargement" class=""/>
    <p>Veuillez patientez</p>
    <p>Finalisationde particpants en cours...</p>
  </div>
</body>
</html>
