<html>
<head>
  <title>Page de connexion</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="https://fonts.googleapis.com/css?family=Anaheim|Roboto" rel="stylesheet">

  <!-- Feuille de style -->
  <link type="text/css" href="css/style.css" rel="stylesheet" />
</head>
<body>
  <header>
    <a href="/" class="titre">ask<br/><span>.lab</span></a>
  </header>
  <div class="connexion">
    <div class="connexion-form">
        <h3>Accès questionnaires</h3>
        <legend>Connexion :</legend>
        <input type="text" name="login" id="login" placeholder="Entrez votre Identifiant"/>
        <input type="password" name="password" id="password" placeholder="Mot de passe"/>
    </div>
    <div class="connexion-form">
        <h3>Participer à un questionnaire</h3>
        <input type="text" name="pseudo" id="pseudo" placeholder="Entrez votre prénom"/>
        <input type="text" name="pin" id="pin" placeholder="Entrez le code PIN"/>
    </div>
  </div>
</body>

</html>
