<html>
<head>
  <title>Connexion</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Feuille de style -->
  <link type="text/css" href="css/style.css" rel="stylesheet" />

</head>
<body>
  <fieldset>
    <legend>Identifiants</legend>

    <label for="pseudo">* Pseudo :</label>
    <input name="pseudo" type="text" id="pseudo" /> (le pseudo doit contenir entre 3 et 15 caractères)<br />

    <label for="password">* Mot de Passe :</label>
    <input type="password" name="password" id="password" /><br />

    <label for="confirm">* Confirmer le mot de passe :</label>
    <input type="password" name="confirm" id="confirm" />

  </fieldset>

  <fieldset>
    <legend>Informations complémentaire</legend>

    <label for="module">Module :</label>
    <input type="text" name="module" id="module" />

  </fieldset>

  <p>Les champs précédés d un * sont obligatoires</p>

  <p>
    <input type="submit" value="S\'inscrire" />
  </p>

</div>
</body>
</html>
