<html>
<head>
  <title>Créer un questionnaire</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="https://fonts.googleapis.com/css?family=Anaheim|Roboto" rel="stylesheet">

  <!-- Feuille de style -->
  <link type="text/css" href="css/style.css" rel="stylesheet" />
</head>
<body>
  <header>
    <a href="/" class="titre">ask<br/><span>.lab</span></a>
  </header>
  <div id="menu">Menu</div>
  <div class="">
    <div class="">
        <input type="text" id="titreQuestionnaire" value="Créer votre questionnaire: "/>
    </div>
    <div class="creerQ-question">
      <p class="titreQuestion">Question 1 / <input type="text" id="titreQuestion" placeholder="Titre de la question"/></p>
        <ul>
          <li>Réponse 1 : <input type="text" id="" placeholder=""/></li>
          <li>Réponse 2 : <input type="text" id="" placeholder=""/></li>
          <li>Réponse 3 : <input type="text" id="" placeholder=""/></li>
          <button>+</button> Ajouter une possibilité
        </ul>
    </div>
    <div class="creerQ-question">
      <p class="titreQuestion">Question 1 / <input type="text" id="titreQuestion" placeholder="Titre de la question"/></p>
        <ul>
          <li>Réponse 1 : <input type="text" id="" placeholder=""/></li>
          <li>Réponse 2 : <input type="text" id="" placeholder=""/></li>
          <li>Réponse 3 : <input type="text" id="" placeholder=""/></li>
          <button>+</button> Ajouter une possibilité
        </ul>
    </div>
    <button>+</button> Ajouter une question
  </div>
  <button> Enregitrer </button>
</body>

</html>
