<html>
<head>
  <title>Accueil</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="https://fonts.googleapis.com/css?family=Anaheim|Roboto" rel="stylesheet">

  <!-- Feuille de style -->
  <link type="text/css" href="css/style.css" rel="stylesheet" />

  <!-- JavaScript -->
  <!-- <script src="js/script.js" type="text/javascript"></script> -->
  <!-- <script type="text/javascript" src="/socket.io/socket.io.js"></script>-->

</head>
<body>
  <header>
    <h1>Bienvenu sur notre super site</h1>
    <div id="menu">
      <ul id="menu_horizontal">
        <li><a href="">Accueil</a></li>
        <li><a href="connexion">Connexion</a></li>
        <li><a href="creerQuestionnaire">Créer un questionnaire</a></li>
        <li><a href="finQuestion">Test finQuestion</a></li>
        <li><a href="attente">Test Attente</a></li>
        <li><a href="listeParticipants">Test liste participants</a></li>
        <li><a href="questionnaires">Test voir mes questionnaires</a></li>
        <li><a href="questionnaire">Test voir un questionnaire</a></li>
        <li><a href="question">Test question</a></li>
        <li><a href="reponse">Test reponse</a></li>
      </ul>
    </div>
  </header>
  <footer>
    <p>By Valentin, Baptise & Benoit</p>
  </footer>
</body>
</html>
