<html>
<head>
  <title>Créer un questionnaire</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="https://fonts.googleapis.com/css?family=Anaheim|Roboto" rel="stylesheet">

  <!-- Feuille de style -->
  <link type="text/css" href="css/style.css" rel="stylesheet" />
  <script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
  <script type="text/javascript" src="js/script.js"></script>
</head>
<body>
  <header>
    <a href="/" class="titre"><img class="logo" src="/img/logotr.png" alt="logo du site" /></a>
  </header>
  <div id="menu"><button>Menu</button></div>
  <div class="content">
    <div class="titre-questionnaire">
        <h3>Créez votre questionnaire : <input type="text" id="titreQuestionnaire" placeholder="Insérez votre titre"/></h3>
    </div>
    <div class="creerQ-question">
      <p class="titreQuestion">Question 1 / <input type="text" id="titreQuestion" placeholder="Titre de la question"/></p>
        <ul>
          <li>Réponse 1 : <input type="text" id="" placeholder=""/></li>
          <li>Réponse 2 : <input type="text" id="" placeholder=""/></li>
          <li>Réponse 3 : <input type="text" id="" placeholder=""/></li>
          <li>Réponse 4 : <input type="text" id="" placeholder=""/></li>
        </ul>
    </div>
  </div>
  <div class="formLog">
      <button class="rounded-button questionnaire-button" onclick="addQuestionHTML();">Ajouter une question</button>
      <button class="rounded-button questionnaire-button">Enregistrer le Questionnaire</button>
  </div>
</body>

</html>
