<html>
<head>
  <title>Créer un questionnaire</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="https://fonts.googleapis.com/css?family=Anaheim|Roboto" rel="stylesheet">

  <!-- Feuille de style -->

  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link type="text/css" href="css/style.css" rel="stylesheet" />
  <script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
  <script type="text/javascript" src="js/script.js"></script>
  <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js" integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E=" crossorigin="anonymous"></script>
  <script>
    $( function() {
      $( "#dialog-confirm" ).dialog({
        autoOpen: false,
        resizable: false,
        height: "auto",
        width: 400,
        modal: true,
        buttons: {
          "Valider": {
              click: function () {
                var data = {};
                var questions = $(".creerQ-question");
                questions.each(function(index){
                    var question = {};
                    var reponses = {};
                    var inputsQue = $(this).find("p").find("input");
                    inputsQue.each(function(indexQ){
                        if(indexQ==0) {
                          question["libelle"] = $(this).val();
                        } else {
                          question["multiple"] = this.checked;
                        }
                    });
                    var inputsRep = $(this).find("ul").find("li");
                        inputsRep.each(function(indexRep){
                            var reponse = {};
                            reponse["libelle"] = $(this).children().last().val();
                            reponse["estLaReponse"] = $(this).children().first()[0].checked;
                            reponses[indexRep] = reponse;
                    });
                    question.reponses = reponses;
                    data[index] = question;
                });
                data["titreQuestionnaire"]=$("#titreQuestionnaire").val();
      					$.ajax({
      						  type: 'POST',
      						  data: JSON.stringify(data),
    				        contentType: 'application/json',
                    url: '/newQuestionnaire',
                    success: function(data) {
                      if (data.status === "Success") {
                        window.location = data.redirect;
                      }
                    }
                });
              },
              text: 'Valider',
              class: 'rounded-button rounded-buttonValid'
          },
          "Annuler": {
              click: function () {
                  $( this ).dialog( "close" );
              },
              text: 'Annuler',
              class: 'rounded-button rounded-buttonCancel'
          }
        },
        open: function(event, ui) {
            $("button").blur();
        }
      });
    });
    function showModalConfirm() {
      $("#dialog-confirm").dialog( "open" );
    }
  </script>
</head>
<body>
  <header>
    <a href="/" class="titre"><img class="logo" src="/img/logotr.png" alt="logo du site" /></a>
  </header>
  <div class="content">
    <div class="titre-questionnaire">
        <h3>Créez votre questionnaire : <input type="text" id="titreQuestionnaire" placeholder="Insérez votre titre"/></h3>

    </div>
    <div class="creerQ-question">
      <p class="titreQuestion">Question 1 / <input type="text" placeholder="Titre de la question"/><label>Multiple ?<input type="checkbox" onChange="updateQuestionType(this);"/></label></p>
        <ul>
          <li><input type="radio" name="q1">Réponse 1 : <input type="text" id="" placeholder=""/></li>
          <li><input type="radio" name="q1">Réponse 2 : <input type="text" id="" placeholder=""/></li>
          <li><input type="radio" name="q1">Réponse 3 : <input type="text" id="" placeholder=""/></li>
          <li><input type="radio" name="q1">Réponse 4 : <input type="text" id="" placeholder=""/></li>
        </ul>
    </div>
  </div>
  <div class="formLog">
      <button class="rounded-button questionnaire-button" onclick="addQuestionHTML();">Ajouter une question</button>
      <button class="rounded-button questionnaire-button" onclick="showModalConfirm();">Enregistrer le Questionnaire</button>
  </div>

  <div id="dialog-confirm" title="Terminer le questionnaire?" hidden>
      <p>
          <span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>
          Le questionnaire ne pourra plus être modifier. Etes vous sur de le valider ?
      </p>
  </div>
</body>

</html>
