<html>
<head>
  <title>Question fini</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="https://fonts.googleapis.com/css?family=Anaheim|Roboto" rel="stylesheet">

  <!-- Feuille de style -->
  <link type="text/css" href="css/style.css" rel="stylesheet" />
</head>
<body style="display:flex;">
  <header>
    <a href="/" class="titre"><img class="logo" src="/img/logotr.png" alt="logo du site" /></a>
  </header>
  <div id="finQuestion">
    <h1 class="centre">Fin du temps</h1>
    <div>
      <a href="">
        <img src="/img/oeilvisualiserreponse.png" alt="" class=""/>
        <p>voir la réponse</p>
      </a>
    </div>
  </div>
  <footer>
    <img src="/img/point-trait.png" alt="" class=""/>
  </footer>
</body>
</html>
