<html>
<head>
  <title>Les participants</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="https://fonts.googleapis.com/css?family=Anaheim|Roboto" rel="stylesheet">

  <!-- Feuille de style -->
  <link type="text/css" href="css/style.css" rel="stylesheet" />
</head>
<body>
  <header>
    <a href="/" class="titre"><img class="logo" src="/img/logotr.png" alt="logo du site" /></a>
  </header>
  <div style="display:flex;">
  <div id="particpants-listeParticipants" class="particpants-bloc">
    <h3>Liste des particpants ayant rejoint le questionnaire : </h3>
    <span></span>
    <ul>
      <li>Marc D</li>
      <li>Baptiste le plus bô</li>
    </ul>
    <p id="nbParticipants">Nombre de particpants: <span>2</span></P>
  </div>
  <div id="particpants-action">
    <div id="particpants-PIN" class="particpants-bloc">
      CODE PIN : <input type="text" placeholder="Entrez le PIN ici"/>
    </div>
    <div id="particpants-lancer" class="particpants-bloc">Lancer questionnaire</div>
    <div style="display:flex;">
      <div id="particpants-retour" class="particpants-bloc">Retour</div>
      <div id="particpants-modifier" class="particpants-bloc">Modifier</div>
    </div>
  </div>
</div>
</body>
</html>
