<html>
<head>
  <title>Votre questionnaire</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="https://fonts.googleapis.com/css?family=Anaheim|Roboto" rel="stylesheet">

  <!-- Feuille de style -->
  <link type="text/css" href="/css/style.css" rel="stylesheet" />
</head>
<body>
  <header>
    <a href="/" class="titre"><img class="logo" src="/img/logotr.png" alt="logo du site" /></a>
  </header>
  <div id="menu"><button>Menu</button></div>
  <div class="content">
    <div style="display:flex;">
      <div class="titre-questionnaire">
          <h3><%=questionnaire.titre%></h3>
      </div>
    </div>
    <% for(var i=0; i < questions.length; i++) {%>
      <div class="creerQ-question">
        <p class="titreQuestion">Question 1 / <input type="text" disabled value="<%=questions[i].libelle%>"/></p>
          <ul>
            <li>Réponse 1 : <input style="width:250px" type="text" id="" value="Les réponses pas récupérées"/></li>
            <li>Réponse 2 : <input style="width:250px" type="text" id="" value="Problèmes de promise"/></li>
            <li>Réponse 3 : <input style="width:250px" type="text" id="" value="et d'accès au result antérieur"/></li>
            <li>Réponse 4 : <input style="width:250px" type="text" id="" value="Merci de votre compréhension"/></li>
          </ul>
      </div>
    <%}%>
    <div class="right">
        <a href="listeParticipants"><button class="rounded-button questionnaire-button">Lancer questionnaire</button></a>
    </div>
  </div>
</body>
</body>
</html>
