<html>
<head>
  <title>Votre questionnaire</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="https://fonts.googleapis.com/css?family=Anaheim|Roboto" rel="stylesheet">

  <!-- Feuille de style -->
  <link type="text/css" href="css/style.css" rel="stylesheet" />
</head>
<body>
  <header>
    <a href="/" class="titre"><img class="logo" src="/img/logotr.png" alt="logo du site" /></a>
  </header>
  <div id="menu"><button>Menu</button></div>
  <div class="content">
    <div style="display:flex;">
      <div class="titre-questionnaire">
          <h3>Le nom de mon questionnaire</h3>
      </div>
      <div class="right">
          <button class="rounded-button questionnaire-button">Enregistrer modification</button>
      </div>
    </div>
    <div class="creerQ-question">
      <p class="titreQuestion">Question 1 / <input type="text" id="titreQuestion" value="Titre de la question"/></p>
        <ul>
          <li>Réponse 1 : <input type="text" id="" value="toto"/></li>
          <li>Réponse 2 : <input type="text" id="" value="titi"/></li>
          <li>Réponse 3 : <input type="text" id="" value="tata"/></li>
          <li>Réponse 4 : <input type="text" id="" value="tutu"/></li>
        </ul>
    </div>
    <div class="creerQ-question">
      <p class="titreQuestion">Question 1 / <input type="text" id="titreQuestion" value="Titre de la question"/></p>
        <ul>
          <li>Réponse 1 : <input type="text" id="" value="toto"/></li>
          <li>Réponse 2 : <input type="text" id="" value="titi"/></li>
          <li>Réponse 3 : <input type="text" id="" value="tata"/></li>
          <li>Réponse 4 : <input type="text" id="" value="tutu"/></li>
        </ul>
    </div>
    <div class="right">
        <a href="listeParticipants"><button class="rounded-button questionnaire-button">Lancer questionnaire</button></a>
    </div>
  </div>
</body>
</body>
</html>
