<html>
<head>
  <title>Vos questionnaires</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="https://fonts.googleapis.com/css?family=Anaheim|Roboto" rel="stylesheet">

  <!-- Feuille de style -->
  <link type="text/css" href="css/style.css" rel="stylesheet" />
</head>
<body>
  <header>
    <a href="/" class="titre"><img class="logo" src="/img/logotr.png" alt="logo du site" /></a>
  </header>
  <div id="menu"><button>Menu</button></div>
  <div class="content">
      <h2 class="quetionnaires-titre">Vos questionnaires:</h2>
      <span></span>
      <a href="" id="">
        <div class="questionnaires-bloc">
          <p class="questionnaires-bloc-titre">Questionnaire 1</p>
          <p class="questionnaires-bloc-pin">CODE PIN : <span>aohfpznf</span></p>
        </div>
      </a>
      <a href="" id="">
        <div class="questionnaires-bloc">
          <p class="questionnaires-bloc-titre">Questionnaire 2</p>
          <p class="questionnaires-bloc-pin">CODE PIN : <span>aoh68znf</span></p>
        </div>
      </a>
      <a href="" id="">
        <div class="questionnaires-bloc">
          <p class="questionnaires-bloc-titre">Questionnaire 3</p>
          <p class="questionnaires-bloc-pin">CODE PIN : <span>aohfpznf</span></p>
        </div>
      </a>
      <a href="" id="">
        <div class="questionnaires-bloc">
          <p class="questionnaires-bloc-titre">Questionnaire 4 sur deux lignes pour tester</p>
          <p class="questionnaires-bloc-pin">CODE PIN : <span>aoh68znf</span></p>
        </div>
      </a>
        <div class="questionnaires-bloc ajouter-questionnaire">
          <span style="display:flex;"><button>+</button></span>
          <p class="questionnaires-bloc-titre">Créez un nouveau</p>
        </div>
  </div>
</body>
</html>
