<html>
<head>
  <title>Vos questionnaires</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="https://fonts.googleapis.com/css?family=Anaheim|Roboto" rel="stylesheet">

  <!-- Feuille de style -->
  <link type="text/css" href="css/style.css" rel="stylesheet" />

</head>
<body>
  <header>
    <a href="/" class="titre"><img class="logo" src="/img/logotr.png" alt="logo du site" /></a>
  </header>
  <div class="content">
    <h2 class="quetionnaires-titre">Vos questionnaires:</h2>
    <span></span>
    <% for(var i=0; i < Allquestionnaires.length; i++) {%>
      <a href="/<%=Allquestionnaires[i].idQuestionnaire%>/previewQuestionnaire">
        <div class="questionnaires-bloc">
          <p class="questionnaires-bloc-titre">Questionnaire <%=Allquestionnaires[i].titre%></p>
          <p class="questionnaires-bloc-pin">ID : <span><%=Allquestionnaires[i].idQuestionnaire%></span></p>
        </div>
      </a>
    <%}%>
</body>
<script>

</script>
</html>
