<p>Questionnaire n°<%= questionnaireId %></p>

<script src="/js/jquery-3.3.1.min.js" type="text/javascript"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/Classes/Questionnaire.js" type="text/javascript"></script>
<script>
    // js pour le questionnaire

    var socket = null;

    var identificationId = +"<%= identificationId %>";

    /**
     * En attente de la prochaine question
     */
    function afficherAttente(){
        // Todo : afficher attente
        console.log("attente ...")
    }

    /**
     *
     * @param question
     */
    function afficherQuestion(question){
        // Todo : afficher la nouvelle question
        console.log("afficher question");
    }

    /**
     *
     * @param resultat
     */
    function afficherResultat(resultat){
        // Todo : afficher les résultats
        console.log("afficher resultat");
    }

    /**
     *
     * @param reponse
     */
    function envoyerReponse(reponse){
        // Todo : envoyer une réponse
        socket.emit("answerQuestion", reponse);
    }

    /**
     * Demande à passer à la question suivant
     */
    function questionSuivante(){
        var relancer = true; // vraie si il faut relancer la meme question

        socket.emit("nextQuestion", relancer);
    }

    /**
     * Demande à arreter les réponses
     */
    function stopReponse(){
        socket.emit("stopAnswerQuestion", null);
    }

    $(function () {
        // ------------------------------------------------------------------------------------------
        // initialisation de la connexion
        // ------------------------------------------------------------------------------------------

        socket = io.connect();

        socket.emit("identify", {"identificationId": identificationId});

        socket.on('identifySuccess', function (data) {
            console.log("Identification réussi");
            afficherAttente();
        });

        // ------------------------------------------------------------------------------------------


        // Un nouvelle étudiant s'est connecté
        socket.on('newUser', function(data){
            // Todo : afficher un truc
            console.log("Nouvelle connexion : " + data);
        });

        // Un étudiant s'est déconnecté
        socket.on('userDisconnected', function(data){
            // Todo : afficher un truc
            console.log("Utilisateur déconnecté : " + data);
        });

        // Réception d'une nouvelle question
        socket.on('newQuestion', function(data){
            var question = data;
            afficherQuestion(question);
        });

        // Demande d'arret des réponses
        socket.on('stopAnswerQuestion', function(data){
            // Todo : afficher quelque chose car on ne peut plus répondre à la question
            console.log("test stop question");
        });

        // Réception des résultats
        socket.on('showResultQuestion', function(data){
            var resultat = data;
            afficherResultat(resultat);
        });

        // Une erreur
        socket.on('errors', function(data){
            console.log("Erreur : " + data);
            alert("Erreur : \n" + data);
        });

        // Le serveur n'est plus joignable
        socket.on('disconnect', function(data){
            // Todo : afficher un message
            console.log("test deconnecté");
        });

        // Serveur de retour joignable
        socket.on('reconnect', function(data){
            // Todo : afficher un message
            console.log("test reconnect");
            window.location.reload(true);
        });
    });
</script>