<html>
<head>
  <title>Résultat</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="https://fonts.googleapis.com/css?family=Anaheim|Roboto" rel="stylesheet">

  <!-- Feuille de style -->
  <link type="text/css" href="css/style.css" rel="stylesheet" />
</head>
<body>
  <header>
    <a href="/" class="titre"><img class="logo" src="/img/logotr.png" alt="logo du site" /></a>
  </header>
  <div class="reponse">
    <h1>Réponse X</h1>
    <p>Lorem ipsum dolor sit amet,consectetuer adipiscing elit, sed diam
    nonummy nibh euismod tincidunt utlaoreet dolore magna aliquam erat
    volutpat. Ut wisi enim ad minimveniam, quis nostrud exerci tation</p>
    <button class="button-type2">Suivant</button>
  </div>
</body>
</html>
